/* src/assets/styles/utils/_colors.scss  */
/*
  Traveloka Colors
*/

$godwit-blue:			#1ba0e2;
$high-altitude:		#30c5f7;
$good-night:			#235d9f;
$business-suit:		#073e68;
$fuschia-fusion:	#931682;
$speed-line:			#fca000;
$terminal-lounge:	#6dd3ce;
$field-trip:			#20bf55;
$fuel-tank:				#087e8b;
$signal-pulse:		#f0298a;
$wrap-paper:			#ff474e;
$gold-coin:				#e1cb37;
$coral-reef:			#ff6d6a;
$deepchampagne:		#dba877;
$dark-grey:				#212121;
$dark-blue:				#123456;
$gold:						#ffc759;
$dark-gold:				#d6992d;
$gold-sparkle:		#efb652;
$silver:					#dedede;
$dark-silver:			#918e8e;
$silver-sparkle:	#c1c1c1;
$bronze:					#ff5e1f;
$dark-bronze:			#b02e0c;
$bronze-sparkle:	#db330e;
$dark-primary:		#03121a;
$dark-stain:			#1c2930;
$dark-neutral:		#354148;
$dark-secondary:	#687176;
$light-primary:		#ffffff;
$light-stain:			#f7f9fa;
$light-neutral:		#f2f3f3;
$light-secondary:	#cdd0d1;
$blue-light:			#ecf8ff;
$blue-primary:		#0194f3;
$blue-secondary:	#007ce8;
$blue-dark:				#0264c8;
$green-light:			#e8fef5;
$green-primary:		#0bc175;
$green-secondary:	#05a569;
$green-dark:			#00875a;
$yellow-light:		#fffad9;
$yellow-primary:	#ffdc00;
$yellow-secondary:#d99800;
$yellow-dark:			#b15400;
$orange-light:		#fff4ef;
$orange-primary:	#ff5e1f;
$orange-secondary:#df440f;
$orange-dark:			#bf1d00;
$red-light:				#fce3e4;
$red-primary:			#f4555a;
$red-secondary:		#ec3a3e;
$red-dark:				#e7090e;
$ink-black:				#03121a;
$ink-white:				#ffffff;
$ink-interactive:	#0194f3;
$ink-highlight:		#0264c8;
$ink-price:				#ff5e1f;
$ink-positive:		#00875a;
$ink-alert:				#e7090e;
$ink-warning:			#b15400;
$icon-dark:				#03121a;
$icon-light:			#ffffff;
$icon-blue:				#0194f3;
$icon-red:				#f4555a;
$icon-green:			#0bc175;
$icon-yellow:			#ffdc00;
$icon-orange:			#ff5e1f;
$style-border:		#354148;
$style-overlay:		rgba(3, 18, 26, 0.5);
$style-focused:		#0194f3;

/*
  Blossom Colors
*/
$tv-blue-primary:		#0a9af2;
$tv-blue-secondary:	#0071ce;
$tv-lime-green:			#a6ea11;
$tv-cta-orange:			#f96d01;