/* src/assets/styles/components/_button.scss  */

.clean-button {
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.btn {
  @extend .clean-button;
  font-family: $defaultfont;
  border-radius: 6px;
  color: $light-primary;
  padding: 16px 40px;
  background: $blue-primary;
  transition: all ease 0.2s;
  gap: 8px;

  &.btn-inline-block {
    display: inline-block;
  }

  &.btn-orange {
    background: $orange-primary;
    color: $light-primary;
    svg path {
      stroke: $light-primary;
    }
    &:hover,
    &:focus {
      background: $orange-secondary;
    }
  }
  &.btn-secondary {
    background: $light-stain;
    color: $blue-primary;
    &:hover,
    &:focus {
      background: $light-neutral;
    }
  }

  &.btn-pills {
    border-radius: 120px;
  }

  &:hover,
  &:focus {
    background: $blue-secondary;
    cursor: pointer;
  }
  &.btn-block {
    display: block;
  }

  &.btn-small {
    padding: 8px 12px;
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.btn-outline {
    background: transparent;
    border: 1px solid $light-primary;
  }

  &.btn-rounded {
    border-radius: 100px;
  }

  &.btn-dark-transparent {
    background: rgba(3, 18, 26, 0.5);
  }

  &.btn-top-baner-close {
    padding: 4px 12px;
    font-size: 12px;
    background: rgba(3, 18, 26, 0.5);
    border: 1px solid transparent;
    gap: 4px;
    &:hover,
    &:focus {
      border: 1px solid $light-primary;
    }
    svg {
      width: 16px;
      height: 16px;
      path {
        stroke: $light-primary;
      }
    }
  }
}
