/* src/assets/styles/components/_button.scss  */

.clean-button {
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.btn {
  @extend .clean-button;
  font-family: $defaultfont;
  border-radius: 6px;
  color: $light-primary;
  padding: 16px 40px;
  background: $blue-primary;
  transition: all ease 0.2s;
  gap: 8px;

  &:hover,
  &:focus {
    background: $blue-secondary;
    cursor: pointer;
  }
  &.btn-block {
    display: block;
  }

  &.btn-small {
    padding: 8px 12px;
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &.btn-outline {
    background: transparent;
    border: 1px solid $light-primary;
  }

  &.btn-rounded {
    border-radius: 100px;
  }

  &.btn-dark-transparent {
    background: rgba(3, 18, 26, 0.5);
  }
}
