/* src/assets/styles/components/_menu.scss  */

.menu {
  color: $blue-primary;
  width: 100%;
  padding: 15px;
  .image {
    max-width: 24px;
    vertical-align: middle;
  }
}
.menu__ul {
  padding: 0;
  margin: 0;
}
.menu__item {
  list-style: none;
  display: inline-block;
  & + .menu__item {
    margin-left: 16px;
  }
}
.menu__link {
  color: $blue-primary;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  &:hover,
  &.active {
    border-color: $dark-stain;
  }
}
