.product-form-tab {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  // color: $dark-stain;
  // background: $light-primary;

  .product-form-tab-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
    padding: 8px 16px 0 16px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid $light-secondary;
    * {
      transition: all ease 0.2s;
    }
    .product-form-tab-nav-item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 8px 16px;
      align-items: center;
      align-content: flex-start;
      justify-content: center;
      text-align: center;
      font-weight: $boldfontweight;
      font-size: 16px;
      color: $light-primary;
      opacity: 0.75;
      gap: 8px;
      position: relative;
      overflow: hidden;
      svg path {
        fill: $light-primary;
      }
      &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 100%;
        height: 8px;
        background: $light-primary;
        border-radius: 8px;
        transition: all ease 0.2s;
      }
      &.active,
      &:hover,
      &:focus {
        cursor: pointer;
        opacity: 1;
        &::before {
          bottom: -4px;
        }
      }
      &.active {
        svg path {
          fill: $tv-lime-green;
        }
      }
    }
  }

  .product-form-tab-content {
    .product-form-tab-content-item {
      padding: 16px;
      display: none;
      &.active {
        animation: tabcontent 0.2s ease-in;
        display: block;
      }
    }
  }
}

.invisible-tab {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;

  .invisible-tab-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px 0 16px;
    width: 100%;
    box-sizing: border-box;
    * {
      transition: all ease 0.2s;
    }
    .invisible-tab-nav-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      svg path {
        fill: $light-primary;
      }
      &.active {
        background-color: $blue-primary;
      }
    }
  }
  .invisible-tab-content {
    .invisible-tab-content-item {
      padding: 16px;
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

@keyframes tabcontent {
  from {
    transform: translateX(16px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.product-form-container {
  display: block;
  padding: 16px;
  background-color: $light-primary;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: $dark-stain;
}

.trusted-partners {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
