/* src/assets/styles/pages/_index.scss  */

.home__page__1 {

  .jumbotron {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-primary;
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.1);
      z-index: 2;
    }

    .bg-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $blue-dark;
      z-index: 2;
      &::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(175.98deg, rgba(0, 56, 102, 0.5) 11.8%, rgba(0, 113, 206, 0) 96.71%);
        z-index: 3;
      }
      .bg-image-item {
        transition: all 2s linear;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0;
        &.active {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }

    .bg-image-control-prev,
    .bg-image-control-next {
      position: absolute;
      width: 80px;
      height: 100%;
      z-index: 2;
      padding: 0 16px;
      display: flex;
      align-items: center;
      &:hover {
        cursor: pointer;
      }
      svg {
        width: 48px;
        height: 48px;
        path {
          stroke: $light-primary;
        }
      }
    }
    .bg-image-control-prev {
      left: 0;
    }
    .bg-image-control-next {
      right: 0;
    }

    .jumbotron-content {
      position: relative;
      z-index: 5;
      width: 80%;
      max-width: 1280px;
      // min-height: 500px;
      // margin-top: 120px;
    }

    h1.slogan {
      display: inline-block;
      font-weight: $boldfontweight;
      font-size: 48px;
      margin-top: 0;
      margin-bottom: 6vh;
    }

    .btn-scroll-down {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border: 1px solid $light-primary;
      padding: 8px 16px;
      border-radius: 24px;
      background: rgba(3, 18, 26, 0.25);
      color: $light-primary;
      font-weight: $boldfontweight;
      transition: all ease 0.2s;
      svg {
        animation: arrowdown 0.75s infinite;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        background: $light-primary;
        color: $dark-primary;
        svg > path {
          stroke: $dark-primary;
        }
      }
    }
  }
}

@keyframes arrowdown {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(2px);
  }
}

.latest-search {
  background: $light-stain;
}