extends ../layouts/master.pug

block title
  title Traveloka ID

block basicSeo
  meta(name='description' content='Blog page')
  meta(name='keywords', content='blog, page')
  meta(name='author' content='')

block content

  -var pageTitle = 'Traveloka'
  -var pageUrl = 'https://www.traveloka.com/id-id'

  // Menu
  +menu('blog')

  //- BLog page
  main.blog__page
    img.mockup(src=require('images/mockup-without-header.png'), alt="mockup")

