extends ../layouts/master.pug

block title
  title Traveloka

block basicSeo
  meta(name='description' content='Blog page')
  meta(name='keywords', content='blog, page')
  meta(name='author' content='')

block content
  // Menu
  +menu('en','not-login')

  // Contact Us
  .floating-button.floating-bottom-right
    a.btn.btn-small.btn-pills(href='#')
      +icon('ic-contact-message-cs')
      | Contact Us

  //- Homepage
  main.home__page__1
    include ../components/jumbotron.pug
    //- section.latest-search
    //-   .container
    //-     +icon('ic-system-arrow-right')
    //-     h3 Continue your search
    +section('usp')
    +section('shoutheast-asia')
    +section('hotel-inspiration')
    +section('flight-inspiration')
    +section('travel-guide')
    +section('article')
    +section('promotion')
    +section('seo')

  +subscribe('global')
