extends ./layouts/master.pug

block content
  //- Index page
  main.home__page
    .container
      h1.page__title
        +icon('ic-brand-traveloka')
        |  Web Level Up Project
      p Choose the exploration below!
      div.choose-prototype
        a.btn.btn-primary(href='/en-id')
          | Homepage SEA (ID, TH, VN, MY, SG, VN)
        a.btn.btn-primary(href='/en')
          | Homepage Global (EN, AU)

