extends ./layouts/master.pug

block content
  //- Index page
  main.home__page
    .container
      h1.page__title
        +icon('ic-brand-traveloka')
        |  Web Level Up Project
      p Choose the exploration below!
      div.choose-prototype
        a.btn.btn-primary(href='/en-id')
          | Homepage EN
          +icon('ic-flag-circular-en')
        a.btn.btn-primary(href='/id-id')
          | Homepage ID
          +icon('ic-flag-circular-id')
        a.btn.btn-primary(href='/en-id/flight') Flight Page EN Version
        a.btn.btn-primary(href='/id-id/flight') Flight Page ID Version

