//- src/views/components/footer.pug

footer#footer
  .container
    .row
      .col
        .footer-content
          img(src=require('images/footer-traveloka-logo.png'), alt="footer-column-1")
          img(src=require('images/footer-trusted.png'), alt="footer-column-1")
          a(href='#')
            img(src=require('images/footer-partnership.png'), alt="footer-column-1")
          h3 Payment Partners
          img(src=require('images/footer-payment-logo.png'), alt="footer-column-1")
      .col
        .footer-content
          h3 About Traveloka
          ul
            li How to Book
            li Help Center
            li Careers
            li Installment
            li About Us
          .spacer-24
          h3 Follow us on
          ul
            li
              +icon('ic-brand-social-twitter')
              | Twitter
            li
              +icon('ic-brand-social-facebook')
              | Facebook
            li
              +icon('ic-brand-social-instagram')
              | Instagram
            li
              +icon('ic-brand-social-youtube')
              | Youtube
      .col
        .footer-content
          h3 Products
          ul
            li Flights
            li Hotels
            li Trains
            li JR Pass
            li Top-Up &amp; Data
            li Attractions
            li Car Rental
            li PayLater
            li Bus &amp; Shuttle
            li Gift Voucher
            li Villas &amp; Apartments
            li Airport Transfer
      .col
        .footer-content
          h3 Others
          ul
            li Traveloka for Corporates
            li Traveloka Affiliate
            li Flash Sale
            li Blog
            li Privacy Policy
            li Terms &amp; Conditions
            li Register Your Accommodation
            li Register Your Experience Business
            li Traveloka Press Room
            li Traveloka Ads
  .copyright
    .container.text-center
      Copyright © 2023 Traveloka. All rights reserved
