form.product-form-container
  .product-form-input.border-right
    label.product-form-icon(for='input-flight-from')
      +icon('ic-system-search')
    input(id='input-flight-from', type="text", placeholder="Search for activities or destinations")
  .product-form-cta
    button.btn.btn-orange.btn-small
      +icon('ic-system-search')

.product-subproduct.text-center
  p Or pick a category to unlock your next experience
  .sub-products
    button.btn.btn-small.btn-light-transparent
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 1H14.5V2.35177C16.1452 2.8265 17.5967 3.75797 18.7083 5H22V7C22 7.84187 21.4798 8.56226 20.7434 8.85729C20.9111 9.54401 21 10.2616 21 11C21 11.6874 20.9229 12.3568 20.777 13H22V15C22 16.1046 21.1046 17 20 17H19C18.9067 17 18.8149 16.9936 18.725 16.9813C18.0376 17.7536 17.2192 18.4067 16.3046 18.9058C16.3494 18.9666 16.3881 19.0336 16.4191 19.1061L17.6594 22H19C19.5523 22 20 22.4477 20 23C20 23.5523 19.5523 24 19 24H17H7H5C4.44772 24 4 23.5523 4 23C4 22.4477 4.44772 22 5 22H6.3406L7.58085 19.1061C7.61193 19.0336 7.65056 18.9666 7.69543 18.9058C6.78082 18.4067 5.96236 17.7536 5.27495 16.9813C5.18507 16.9936 5.09328 17 5 17H4C2.89543 17 2 16.1046 2 15V13H3.22302C3.07706 12.3568 3 11.6874 3 11C3 10.2616 3.08892 9.54401 3.25663 8.85729C2.52016 8.56226 2 7.84187 2 7V5H5.29168C6.40332 3.75797 7.85482 2.8265 9.5 2.35177V1ZM9.48964 19.6452C9.4773 19.729 9.45405 19.8125 9.41915 19.8939L8.51654 22H15.4835L14.5809 19.8939C14.5459 19.8125 14.5227 19.729 14.5104 19.6452C14.4673 19.6577 14.4241 19.6699 14.3808 19.6817C14.102 20.4506 13.3652 21 12.5 21H11.5C10.6348 21 9.89796 20.4506 9.6192 19.6817C9.57588 19.6699 9.5327 19.6577 9.48964 19.6452ZM9.97726 4.29669C8.83416 4.64115 7.81432 5.27001 7 6.10102V7C7 8.00385 6.26042 8.83497 5.29641 8.97819C5.10362 9.6183 5 10.297 5 11C5 11.695 5.10128 12.3663 5.28988 13H7V15C7 15.2642 6.94877 15.5164 6.85571 15.7473C7.58082 16.5326 8.4835 17.1516 9.5 17.5404V17H14.5V17.5404C15.5165 17.1516 16.4192 16.5326 17.1443 15.7473C17.0512 15.5164 17 15.2642 17 15V13H18.7101C18.8987 12.3663 19 11.695 19 11C19 10.297 18.8964 9.6183 18.7036 8.97819C17.7396 8.83497 17 8.00385 17 7V6.10102C16.1857 5.27001 15.1658 4.64115 14.0227 4.29669C13.6559 4.72707 13.1098 5 12.5 5H11.5C10.8902 5 10.3441 4.72707 9.97726 4.29669ZM15 11C15 12.6569 13.6569 14 12 14C10.3431 14 9 12.6569 9 11C9 9.34315 10.3431 8 12 8C13.6569 8 15 9.34315 15 11Z" fill="#FFFFFF"></path>
      </svg>
      | Attractions
    button.btn.btn-small.btn-light-transparent
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18 8V8C16.3431 8 15 6.65685 15 5V5C15 3.34315 16.3431 2 18 2V2C19.6569 2 21 3.34315 21 5V5C21 6.65685 19.6569 8 18 8V8ZM18 8V21M18 21H16M18 21H20" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M8.99995 1C7.3431 1 5.99995 2.34315 5.99995 4V4.5C5.99995 6.15685 7.3431 7.5 8.99995 7.5H7.08271L6.17355 7.34847C5.22681 7.19068 4.41271 6.58941 3.98347 5.73093L2.8944 3.55279C2.64741 3.05881 2.04674 2.85858 1.55276 3.10557C1.05878 3.35256 0.858558 3.95324 1.10555 4.44721L2.19462 6.62536C2.91002 8.05616 4.26684 9.05827 5.84475 9.32126L5.92691 9.33495L5.5034 14.417C5.5011 14.4446 5.49995 14.4723 5.49995 14.5V15.5C5.49995 15.5302 5.50132 15.5604 5.50406 15.5905L6.00406 21.0905C6.05406 21.6406 6.54047 22.0459 7.09049 21.9959C7.6405 21.9459 8.04585 21.4595 7.99584 20.9095L7.59498 16.5H10.4049L10.0041 20.9095C9.95406 21.4595 10.3594 21.9459 10.9094 21.9959C11.4594 22.0459 11.9458 21.6406 11.9958 21.0905L12.4958 15.5905C12.4986 15.5604 12.5 15.5302 12.5 15.5V14.5C12.5 14.4723 12.4988 14.4446 12.4965 14.417L12.3332 12.4578L13.6563 14.5369C13.9528 15.0028 14.5709 15.1402 15.0368 14.8437C15.5028 14.5472 15.6401 13.9291 15.3436 13.4631L11.8436 7.96312C11.6601 7.67468 11.3419 7.5 11 7.5H8.99995C10.6568 7.5 12 6.15685 12 4.5V4C12 2.34315 10.6568 1 8.99995 1Z" fill="#FFFFFF"></path>
      </svg>
      | Tours
    button.btn.btn-small.btn-light-transparent
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.34671 13.5646L3.5 17.9967L6 18.879L8.299 16.0004C9.05802 15.0501 10.2082 14.4967 11.4245 14.4967H12.5755C13.7918 14.4967 14.942 15.0501 15.701 16.0004L18 18.879L20.5 17.9967L18.3961 12.0357C17.8185 10.399 17.8554 8.60818 18.5 6.99667L20.3164 7.90488C21.0232 8.25829 21.8769 8.11976 22.4357 7.56096C23.0545 6.94212 23.1506 5.97251 22.6651 5.24432L20.1325 1.44537C19.7974 0.942734 19.0965 0.849695 18.6419 1.2475L17.7198 2.05438C16.254 3.33696 15.052 4.89274 14.1809 6.63483L14 6.99667V9C14 9.55228 13.5523 10 13 10H10.721C10.2905 10 9.90824 9.72441 9.77222 9.31591L9 6.99667H7.68662C5.92082 6.99667 4.71337 8.7801 5.36918 10.4196C5.77352 11.4305 5.76546 12.5596 5.34671 13.5646ZM12 20.4967C8.01045 20.4967 4.0209 18.905 2.57134 18.2617C2.25182 18.1199 1.87327 18.2501 1.71693 18.5628C1.58894 18.8188 1.64716 19.1255 1.87255 19.3019C3.06705 20.2367 7.01602 22.9967 12 22.9967C16.9981 22.9967 21.6493 20.221 23.0632 19.294C23.3199 19.1257 23.3994 18.7954 23.2621 18.5209C23.1145 18.2257 22.7656 18.093 22.4572 18.2107C20.8716 18.8159 16.0997 20.4967 12 20.4967ZM6 6.99667H3C1.89543 6.99667 1 7.8921 1 8.99667V11.9967H1.10182C2.19717 11.9967 3.13198 11.2048 3.31206 10.1243C3.43307 9.39822 3.81788 8.74237 4.39269 8.28252L6 6.99667Z" fill="#FFFFFF"></path>
      </svg>
      | Playground
    button.btn.btn-small.btn-light-transparent
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M7 18.0001L12 15.0001L17 18.0001C17 18.0001 16 21.0001 12 21.0001C8 21.0001 7 18.0001 7 18.0001Z" fill="#FFFFFF"></path>
        <path d="M3.86032 11.3862C1.76466 12.2832 0 14.0001 0 14.0001C0 14.0001 3 16.0001 7 16.0001C7.93556 16.0001 9.08993 15.4531 10.0537 14.8708C8.56251 14.6631 7.32484 14.2157 6.30271 13.6068C5.25175 12.9807 4.45794 12.2013 3.86032 11.3862Z" fill="#FFFFFF"></path>
        <path d="M13.9464 14.8708C14.9101 15.4531 16.0645 16.0001 17 16.0001C21 16.0001 24 14.0001 24 14.0001C24 14.0001 22.2045 12.3396 20.0823 11.464C19.4915 12.2509 18.715 13.0007 17.6976 13.6068C16.6754 14.2157 15.4376 14.6631 13.9464 14.8708Z" fill="#FFFFFF"></path>
        <path d="M9.5 8.0001C9.5 10.2274 11.0957 12.7255 11.7374 13.64C11.8679 13.826 12.1321 13.826 12.2626 13.64C12.9043 12.7255 14.5 10.2274 14.5 8.0001C14.5 5.77281 12.9043 3.27473 12.2626 2.36016C12.1321 2.17422 11.8679 2.17422 11.7374 2.36016C11.0957 3.27473 9.5 5.77281 9.5 8.0001Z" fill="#FFFFFF"></path>
        <path d="M8.57774 7.02792C6.94698 5.37004 3.03052 5.98491 3.03052 5.98491C3.03052 5.98491 3.03037 13.2258 10.7324 13.943C10.3864 13.4284 9.90142 12.6473 9.47339 11.7386C8.96871 10.6671 8.5 9.32888 8.5 8.00021C8.5 7.67534 8.52802 7.34989 8.57774 7.02792Z" fill="#FFFFFF"></path>
        <path d="M13.2676 13.9431C20.9699 13.226 20.9699 5.98491 20.9699 5.98491C20.9699 5.98491 17.053 5.36998 15.4223 7.02816C15.472 7.35006 15.5 7.67542 15.5 8.00021C15.5 9.32888 15.0313 10.6671 14.5266 11.7386C14.0986 12.6473 13.6136 13.4284 13.2676 13.9431Z" fill="#FFFFFF"></path>
        <path d="M9.5264 8.51065C9.95269 9.31884 10.3521 10.2139 10.7072 11.0096C11.2759 12.2837 11.7308 13.3031 12.0001 13.3031C12.2694 13.3031 12.7242 12.2839 13.2928 11.01C13.6478 10.2143 14.0473 9.31931 14.4736 8.5111C14.2633 10.5975 12.8556 12.7949 12.2626 13.64C12.1321 13.826 11.8679 13.826 11.7374 13.64C11.1443 12.7948 9.73647 10.5972 9.5264 8.51065Z" fill="#FFFFFF"></path>
      </svg>
      | Beauty &amp; Spa
    button.btn.btn-small.btn-light-transparent
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.5 18L13.5144 17.5942C14.4681 17.2128 15.5319 17.2128 16.4856 17.5942L17.5 18M8.44902 14.6127L8.52153 15.5191C8.79174 18.8967 11.6116 21.5 15 21.5V21.5C18.3884 21.5 21.2083 18.8967 21.4785 15.5191L21.7528 12.09C21.8795 10.5061 20.5042 9.21368 18.9312 9.43839L15.3804 9.94565M12.5 13.5V14H13V13.5H12.5ZM17 13.5V14H17.5V13.5H17Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M6.5 10L6.94202 10.2652C8.20875 11.0252 9.79125 11.0252 11.058 10.2652L11.5 10M6.5 6.5V7H7V6.5H6.5ZM11 6.5V7H11.5V6.5H11ZM11.2421 2.6797L12.9312 2.43839C14.5042 2.21368 15.8795 3.50613 15.7528 5.09004L15.4785 8.51911C15.2083 11.8967 12.3884 14.5 9 14.5V14.5C5.61159 14.5 2.79174 11.8967 2.52153 8.51911L2.2472 5.09004C2.12049 3.50613 3.49576 2.21368 5.06875 2.43839L6.75792 2.6797C8.24509 2.89216 9.75491 2.89216 11.2421 2.6797Z" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      | Classes &amp; Culture
    button.btn.btn-small.btn-light-transparent
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 18L6 16L9 18L12 16L15 18L18 16L21 18M3 21L6 19L9 21L12 19L15 21L18 19L21 21" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M12 5V4.5C12 3.39543 11.1046 2.5 10 2.5V2.5C8.89543 2.5 8 3.39543 8 4.5V8M8 14V12M20 5V4.5C20 3.39543 19.1046 2.5 18 2.5V2.5C16.8954 2.5 16 3.39543 16 4.5V8M16 14V12M8 8H16M8 8V12M16 8V12M8 12H16" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
      | Recreational Sports

include ../components/trusted-partners.pug
