.invisible-tab
  .invisible-tab-nav
    button.btn.btn-dark-transparent.btn-small.btn-rounded.invisible-tab-nav-item.active(data-id='all')
      | All
    button.btn.btn-dark-transparent.btn-small.btn-rounded.invisible-tab-nav-item.svg-fill-white(data-id='1')
      +icon('ic-product-hotel-fill')
      | Hotels
    button.btn.btn-dark-transparent.btn-small.btn-rounded.invisible-tab-nav-item.svg-fill-white(data-id='2')
      +icon('ic-product-holiday-stays')
      | Holiday Stays
    button.btn.btn-dark-transparent.btn-small.btn-rounded.invisible-tab-nav-item.svg-fill-white(data-id='3')
      +icon('ic-product-hotel-alternative-fill')
      | Villas
    button.btn.btn-dark-transparent.btn-small.btn-rounded.invisible-tab-nav-item.svg-fill-white(data-id='4')
      +icon('ic-product-duotone-city-guide-fill')
      | Apartments
  .invisible-tab-content
    .invisible-tab-content-item.active(data-id='all')
      form.product-form-container
        .product-form-input.border-right
          label.product-form-label(for='input-hotel') City, destination, or hotel
          label.product-form-icon(for='input-hotel')
            +icon('ic-system-map-location')
          input.search-trigger(id='input-hotel', type="text", placeholder="City, hotel, and places to go", data-proto-val='Bandung, West Java, Indonesia')
          +search('destination')
        .product-form-input.border-right
          label.product-form-label(for='input-date') Dates
          label.product-form-icon(for='input-date')
            +icon('ic-system-calendar')
          input(id='input-date', type="text", placeholder="Anytime")
        .product-form-input
          label.product-form-label(for='input-room-guest') Guest(s) & Room(s)
          label.product-form-icon(for='input-room-guest')
            +icon('ic-hotel-room-guest')
          input(id='input-room-guest', type="text", placeholder="Add guest & room")
        .product-form-cta
          a.btn.btn-orange.btn-small(href='https://www.traveloka.com/en-id/hotel/search?spec=13-07-2023.14-07-2023.1.1.HOTEL_GEO.103859.Bandung.2')
            +icon('ic-system-search')
    .invisible-tab-content-item(data-id='1')
      form.product-form-container
        .product-form-input.border-right
          label.product-form-label(for='input-hotel') City, destination, or hotel
          label.product-form-icon(for='input-hotel')
            +icon('ic-system-map-location')
          input.search-trigger(id='input-hotel', type="text", placeholder="City, hotel, and places to go", data-proto-val='Bandung, West Java, Indonesia')
          +search('destination')
        .product-form-input.border-right
          label.product-form-label(for='input-date') Dates
          label.product-form-icon(for='input-date')
            +icon('ic-system-calendar')
          input(id='input-date', type="text", placeholder="Anytime")
        .product-form-input
          label.product-form-label(for='input-room-guest') Guest(s) & Room(s)
          label.product-form-icon(for='input-room-guest')
            +icon('ic-hotel-room-guest')
          input(id='input-room-guest', type="text", placeholder="Add guest & room")
        .product-form-cta
          a.btn.btn-orange.btn-small(href='https://www.traveloka.com/en-id/hotel/search?spec=13-07-2023.14-07-2023.1.1.HOTEL_GEO.103859.Bandung.2')
            +icon('ic-system-search')
    .invisible-tab-content-item(data-id='2')
      form.product-form-container
        .product-form-input.border-right
          label.product-form-label(for='input-hotel') City, destination, or holiday stay
          label.product-form-icon(for='input-hotel')
            +icon('ic-system-map-location')
          input.search-trigger(id='input-hotel', type="text", placeholder="City, holiday stay, and places to go", data-proto-val='Bandung, West Java, Indonesia')
          +search('destination')
        .product-form-input.border-right
          label.product-form-label(for='input-date') Dates
          label.product-form-icon(for='input-date')
            +icon('ic-system-calendar')
          input(id='input-date', type="text", placeholder="Anytime")
        .product-form-input
          label.product-form-label(for='input-room-guest') Guest(s) & Room(s)
          label.product-form-icon(for='input-room-guest')
            +icon('ic-hotel-room-guest')
          input(id='input-room-guest', type="text", placeholder="Add guest & room")
        .product-form-cta
          a.btn.btn-orange.btn-small(href='https://www.traveloka.com/en-id/hotel/search?spec=13-07-2023.14-07-2023.1.1.HOTEL_GEO.103859.Bandung.2')
            +icon('ic-system-search')
    .invisible-tab-content-item(data-id='3')
      form.product-form-container
        .product-form-input.border-right
          label.product-form-label(for='input-hotel') City, destination, or villa
          label.product-form-icon(for='input-hotel')
            +icon('ic-system-map-location')
          input.search-trigger(id='input-hotel', type="text", placeholder="City, villa, and places to go", data-proto-val='Bandung, West Java, Indonesia')
          +search('destination')
        .product-form-input.border-right
          label.product-form-label(for='input-date') Dates
          label.product-form-icon(for='input-date')
            +icon('ic-system-calendar')
          input(id='input-date', type="text", placeholder="Anytime")
        .product-form-input
          label.product-form-label(for='input-room-guest') Guest(s) & Room(s)
          label.product-form-icon(for='input-room-guest')
            +icon('ic-hotel-room-guest')
          input(id='input-room-guest', type="text", placeholder="Add guest & room")
        .product-form-cta
          a.btn.btn-orange.btn-small(href='https://www.traveloka.com/en-id/hotel/search?spec=13-07-2023.14-07-2023.1.1.HOTEL_GEO.103859.Bandung.2')
            +icon('ic-system-search')
    .invisible-tab-content-item(data-id='4')
      form.product-form-container
        .product-form-input.border-right
          label.product-form-label(for='input-hotel') City, destination, or apartment
          label.product-form-icon(for='input-hotel')
            +icon('ic-system-map-location')
          input.search-trigger(id='input-hotel', type="text", placeholder="City, apartment, and places to go", data-proto-val='Bandung, West Java, Indonesia')
          +search('destination')
        .product-form-input.border-right
          label.product-form-label(for='input-date') Dates
          label.product-form-icon(for='input-date')
            +icon('ic-system-calendar')
          input(id='input-date', type="text", placeholder="Anytime")
        .product-form-input
          label.product-form-label(for='input-room-guest') Guest(s) & Room(s)
          label.product-form-icon(for='input-room-guest')
            +icon('ic-hotel-room-guest')
          input(id='input-room-guest', type="text", placeholder="Add guest & room")
        .product-form-cta
          a.btn.btn-orange.btn-small(href='https://www.traveloka.com/en-id/hotel/search?spec=13-07-2023.14-07-2023.1.1.HOTEL_GEO.103859.Bandung.2')
            +icon('ic-system-search')

include ../components/trusted-partners.pug
