.invisible-tab
  .invisible-tab-nav
    button.btn.btn-dark-transparent.btn-small.btn-rounded.invisible-tab-nav-item.svg-fill-white.active(data-id='1')
      +icon('ic-product-bus-fill')
      | Bus &amp; Shuttle
    button.btn.btn-dark-transparent.btn-small.btn-rounded.invisible-tab-nav-item.svg-fill-white(data-id='2')
      +icon('ic-product-bus-airport-transfer')
      | Airport Bus
  .invisible-tab-content
    .invisible-tab-content-item.active(data-id='1')
      //- Bus & Shuttle
      form.product-form-container
        .product-form-input.border-right
          label.product-form-label(for='input-bus-from') From
          label.product-form-icon(for='input-bus-from')
            +icon('ic-bus-departure')
          input(id='input-bus-from', type="text", placeholder="Origin")
        .product-form-input.border-right
          .product-form-flight-switch
            label(for='input-bus-switch')
              +icon('ic-trip-round-trip')
            input(id='input-bus-switch', type="checkbox", placeholder="Switch")
          label.product-form-label(for='input-bus-to') To
          label.product-form-icon(for='input-bus-to', style='margin-left:32px')
            +icon('ic-bus-return')
          input(id='input-bus-to', type="text", placeholder="Destination")
        .product-form-input.border-right
          label.product-form-label(for='input-bus-departure-date') Departure Date
          label.product-form-icon(for='input-bus-departure-date')
            +icon('ic-system-calendar')
          input(id='input-bus-departure-date', type="text", placeholder="23 Apr 2023")
        .product-form-input.border-right
          label.product-form-label(for='input-bus-return-date')
            input(class='toggle-date-return', type='checkbox', style='margin-right:8px;transform:translateY(2px);')
            | Return Date
          label.product-form-icon(for='input-bus-return-date')
            +icon('ic-system-calendar')
          input(id='input-bus-return-date', class='input-date-return', type="text", placeholder="29 Apr 2023", disabled='disabled')
        .product-form-input.border-right
          label.product-form-label(for='input-bus-passangers') No. of Passangers
          label.product-form-icon(for='input-bus-passangers')
            +icon('ic-system-clock')
          input(id='input-bus-passangers', type="text", placeholder="2 adults, 1 child")
        .product-form-cta
          button.btn.btn-orange.btn-small
            +icon('ic-system-search')
    .invisible-tab-content-item(data-id='2')
      //- Airport Bus
      form.product-form-container
        .product-form-input.border-right
          label.product-form-label(for='input-airport-bus-from') From
          label.product-form-icon(for='input-airport-bus-from')
            +icon('ic-flight-take-off')
          input(id='input-airport-bus-from', type="text", placeholder="Airport")
        .product-form-input.border-right
          .product-form-flight-switch
            label(for='input-airport-bus-switch')
              +icon('ic-trip-round-trip')
            input(id='input-airport-bus-switch', type="checkbox", placeholder="Switch")
          label.product-form-label(for='input-airport-bus-to') To
          label.product-form-icon(for='input-airport-bus-to', style='margin-left:32px')
            +icon('ic-system-map-location')
          input(id='input-airport-bus-to', type="text", placeholder="Area, address, building")
        .product-form-input.border-right
          label.product-form-label(for='input-airport-bus-departure-date') Departure Date
          label.product-form-icon(for='input-airport-bus-departure-date')
            +icon('ic-system-calendar')
          input(id='input-airport-bus-departure-date', type="text", placeholder="23 Apr 2023")
        .product-form-cta
          button.btn.btn-orange.btn-small
            +icon('ic-system-search')

include ../components/trusted-partners.pug
